<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unidelivery_mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>46</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
				<key>dateExpires</key>
				<string>13/02/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>215FC00BD8B66977E7E83A7A8E0FA04C486222E8</string>
						<key>dateExpires</key>
						<string>13/02/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9ZHG5VLYT</string>
						<key>name</key>
						<string>Nguyen Thi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T9ZHG5VLYT.com.unibean.unideliveryMobile</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T9ZHG5VLYT</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0b8bad0-95d3-477b-baa9-c6227a42f857</string>
				<key>dateExpires</key>
				<string>13/02/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.unibean.unideliveryMobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T9ZHG5VLYT</string>
				<key>name</key>
				<string>Nguyen Thi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.7</string>
		</dict>
	</array>
</dict>
</plist>
